# OS and editor files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/
*.code-workspace

# Logs
*.log

# Dependency folders
node_modules/

# Build output
dist/
build/

# System files
*.tmp
*.swp

# Ignore environment files
.env
